@keyframes brilhando {
  0%,20% {
    opacity: 0.6;
    box-shadow: 0px 0px 47px 10px var(--cor-brilho, #eab308); 
  }
  40%, 60% {
    opacity: 1;
    box-shadow: 0px 0px 47px 10px var(--cor-brilho, #eab308);
  }
  80%, 100% {
    opacity: 0.6;
    box-shadow: 0px 0px 10px 2px var(--cor-brilho, #eab308);
  }
}

/* Criamos uma classe utilitária para ativar a animação */
.animar-pisca {
  animation: brilhando 4s ease-in-out infinite;
}